<div class="card">
  <h3 class="card-header">
    <%= comment.rate %>
    <i class="fa fa-star" aria-hidden="true"></i>
  </h3>
  <div class="card-block">
    <h4 class="card-title"><%= comment.name %> </h4>
    <p class="card-text"> <%= comment.content %> </p>
  </div>
</div>
<br>