
<h1> Order for <%= @food_item.name %> </h1>

<table>
  <thead>
    <tr>
      <th>No</th>
      <th>Customer name </th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each_with_index do |order, index| %>
      <tr>
        <td><%= index + 1  %></td>
        <td><%= order.customer_name %> </td>
        <td><%= link_to 'Show', food_item_order_path(@food_item, order) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
