<h1> Menu </h1>

<div class="btn-group" role="group" aria-label="Basic example">
  <% @sections.each do |section| %>
    <%= link_to section.name, menu_path(:section => section.id), class: "btn #{params[:section] == section.id.to_s ? 'btn-primary' : 'btn-secondary'}" %>
  <% end %>
</div>